<table class="tabla-global" id="tabla-lista-pacientes">
    <thead>
        {% if allPacientes %}
        <tr>
            <th>ID</th>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th class="columna-estado">Estado</th>
            <th class="columna-tipoPaciente">Tipo de paciente</th>
            <th>Hospitalizado</th>
            <th>Acciones</th>
        </tr>
        {% endif %}
    </thead>
    <tbody>
        {% if cantidad_registros_base == 0 %}
            <tr>
                <td colspan="9" class="empty-message">No hay registros de pacientes.</td>
            </tr>     
        {% elif allPacientes.count == 0 %}  
            <tr>
                <td colspan="8" class="empty-message">No hay pacientes que coincidan con los filtros.</td>
            </tr>             
        {% else %}
            {% for paciente in allPacientes %}
                <tr class="fila" id="paciente-{{ paciente.persona.dni }}">
                    <td data-label="ID:">{{paciente.id}}</td>
                    <td data-label="DNI:">{{paciente.persona.dni}}</td>
                    <td data-label="Nombre:">{{paciente.persona.first_name}}</td>
                    <td data-label="Apellido:">{{paciente.persona.last_name}}</td>
                    <td data-label="Estado:" class="columna-estado">{% if paciente.persona.is_active %} Activo {% else %} Inactivo {% endif %}</td>
                    <td data-label="Tipo de paciente:" class="columna-tipoPaciente">{% if paciente.responsable %} <div>Menor (a cargo de:<a class="back-link" href="#paciente-{{ paciente.responsable.adulto.persona.dni }}">{{ paciente.responsable.adulto.persona.dni }}</a>)</div> {% else %} Titular {% endif %}</td>
                    <td data-label="Hospitalizado:">
                        {% if paciente.habitacionAsignada.exists %}
                            {% for obj in paciente.habitacionAsignada.all %}
                                {% if obj.estado == "activa" %}
                                    Sí
                                {% else %}
                                    No
                                {% endif %}
                            {% endfor %}
                        {% else %} 
                            No 
                        {% endif %}
                    </td>
                    <td data-label="Acciones:">
                        <div class="box-btns-td-acciones">
                            <a class="btn-accion" href="{% url 'fichaPaciente' paciente.id %}">Ver ficha del paciente</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>