{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.hugeicons.com/font/icons.css" />
    <link rel="stylesheet" href="{% static 'estilos/styles_jefeEnfermeria.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> {# jQuery (requerido por Toastr.js y DAL) #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />  {# Toastr CSS: Estilos para mostrar notificaciones tipo toast  #}
    <title>Ficha de Médico</title>
</head>
<body>
    <main class="container-detalles-usuario">
        <div class="box-form-detalles-usuario">
            <a id="back-link-solo" href="{% url 'enfermeros-jefe-enfermeria' %}" class="back-link"><i class="hgi hgi-stroke hgi-arrow-left-02"></i> Volver atrás</a>    
            <h2 class="title-ficha">Ficha del Médico/a {{medico.persona.get_full_name}} - N° Matricula: {{medico.numero_matricula}}</h2>  
            <div class="box-datos">
                <div class="secciones">
                    <div class="datos-personales">
                        <span class="titulo">Datos personales</span>
                        <div class="campos">
                            <div class="campo-input">
                                <label>DNI:</label>
                                <input type="text" value="{{medico.persona.dni}}" readonly>
                            </div>
                                
                            <div class="campo-input">
                                <label>Nombre:</label>
                                <input type="text" value="{{medico.persona.first_name}}" readonly>
                            </div>

                            <div class="campo-input">
                                <label>Apellido:</label>
                                <input type="text" value="{{medico.persona.last_name}}" readonly>
                            </div>

                            <div class="campo-input">
                                <label>Sexo:</label>
                                <input type="text" value="{{medico.persona.get_sexo_display}}" readonly>
                            </div>

                            <div class="campo-input">
                                <label>Telefono:</label>
                                <input type="text" value="{{medico.persona.telefono}}" readonly>
                            </div>

                            <div class="campo-input">
                                <label>Email:</label>
                                <input type="text" value="{{medico.persona.email}}" readonly>
                            </div>

                            <div class="campo-input">
                                <label>Fecha Nacimiento:</label>
                                <input type="text" value="{{medico.persona.fecha_nacimiento|date:'d-m-Y'}}" readonly>
                            </div>

                            <div class="campo-input">
                                <label>Tipo de Usuario:</label>
                                <input type="text" value="{{medico.tipoUsuario.nombre_tipoUsuario}}" readonly>
                            </div>

                            <div class="campo-input">
                                <label>N° Matricula:</label>
                                <input type="text" value="{{medico.numero_matricula}}" readonly>
                            </div>

                            <div class="campo-input">
                                <label>Ultimo Inicio de sesión:</label>
                                <input type="text" value="{% if medico.persona.last_login %}{{medico.persona.last_login|date:'d-m-Y H:i A'}}{% else %}Nunca accedió{% endif %}" readonly>
                            </div>

                                
                    </div>
                </div>
            </div>
    
            <div class="secciones">
                <div class="datos-personales">
                    <div class="box-header-datos">
                        <span class="titulo">Información Laboral:</span>   
                    </div>                           
                        <div class="box-asignacion">
                            <div class="asignacion-header">
                                <div class="asignacion-item">
                                    <span><strong>Historial de Evaluaciones Medicas:</strong></span>
                                    <a href="{% url 'historialEvaluacionesMedicas-jefe-enfermeria' medico.id %} "class="btn-masDetalles" id=""><i class="hgi hgi-stroke hgi-file-view"></i> Ver Evaluaciones del medico</a>
                                </div>               
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>  {# Toastr JS: Biblioteca para mostrar notificaciones tipo toast #}

    {% if request.session.sinAsignacion %}
    <script>
        toastr.options = {
            "closeButton": true,
            "progressBar": true,
            "timeOut": "0",   // Mensaje persistente
            "extendedTimeOut": "0",
            "tapToDismiss": false
        };
        toastr.info("No se ha registrado ninguna asignación para este usuario. Por favor, contacta con administración para resolverlo.");
    </script>    
    {% elif request.session.dia_no_laborable %}
    <script>
        toastr.options = {
            "closeButton": true,
            "progressBar": true,
            "timeOut": "0",   // Mensaje persistente
            "extendedTimeOut": "0",
            "tapToDismiss": false
        };
        toastr.info("Advertencia: La fecha actual no corresponde a su dia laborable asignado.");
    </script>    
    {% elif request.session.fuera_de_turno %}
    <script>
        toastr.options = {
            "closeButton": true,
            "progressBar": true,
            "timeOut": "0",   // Mensaje persistente
            "extendedTimeOut": "0",
            "tapToDismiss": false
        };
        toastr.info("Finalizó su horario. Cierre sesión para finalizar el día.");
    </script>
    {% endif %}
    {% if messages %}
        <script>
            {% for message in messages %}
                toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "timeOut": "5000"
                };
                toastr["{{ message.tags|default:'info' }}"]("{{ message|escapejs }}");
            {% endfor %}
        </script>
    {% endif %}

</body>
</html>