:root{
    --color-primario: #025;
    --color-secundario: #013;
    --color-hover: #34A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E5E6E8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23E5E6E8' cx='50' cy='0' r='50'/%3E%3Cg fill='%23e1e2e4' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23dedfe0' cx='50' cy='100' r='50'/%3E%3Cg fill='%23dadbdd' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d6d7d9' cx='50' cy='200' r='50'/%3E%3Cg fill='%23d3d4d5' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23cfd0d2' cx='50' cy='300' r='50'/%3E%3Cg fill='%23cbccce' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c8c9ca' cx='50' cy='400' r='50'/%3E%3Cg fill='%23c4c5c7' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c0c1c3' cx='50' cy='500' r='50'/%3E%3Cg fill='%23bdbebf' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b9babc' cx='50' cy='600' r='50'/%3E%3Cg fill='%23b6b7b8' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b2b3b4' cx='50' cy='700' r='50'/%3E%3Cg fill='%23afb0b1' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23abacad' cx='50' cy='800' r='50'/%3E%3Cg fill='%23a7a8aa' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a4a5a6' cx='50' cy='900' r='50'/%3E%3Cg fill='%23a0a1a3' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%239D9E9F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}

hr{
    border: 0;
    height: 4px;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    margin: 30px 0;
    
}

header{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primario);
    color: #fff;
}

nav{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

nav ul{
    display: flex;
    gap: 10px;
    list-style: none;
}

nav li{
    padding: 5px;
    border-bottom: 1px solid #fff;
    background-color: var(--color-secundario);
    border-radius: 5px;
    width: clamp(100px, 10dvw, 170px);
    text-align: center;  
    display: flex;  
    justify-content: center;
    align-items: center;
    transition: background-color .5s ease;
}

nav li:hover{
    background-color: var(--color-hover);
}

nav li a{
    color: #fff;
    text-decoration: none;
    width: 100%;
}


main{
    display: flex;
    justify-content: center;
}

.box-imagen{
    display: flex;
    justify-content: center;
    outline: 2px solid #ccc;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.imagenes-index{
    width: 1000px;
}

.imagenes-index img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container{
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: clamp(300px, 90%, 1500px);
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;
    margin: 30px 0;
    border-radius: 10px;
    gap: 30px;
}

.container section{
    width: 100%;
    outline: 2px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}


#quienes-somos{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.seccion-sec{
    padding: 0 5px;
    margin-top: 4px;
}

.seccion-ul{
    padding-left: 20px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;    
    background: var(--color-primario);
    color: #fff;
    gap: 10px;
}

.secciones-footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    gap: 5px;
}

.secciones-footer-item{
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 10px;
    border-radius: 10px;
    background: var(--color-secundario);    
    justify-content: center;
    width: clamp(150px, 20dvw, 350px);
    text-align: center;
    font-size: clamp(.75rem,3dvw,.8rem);
}

.secciones-footer-item a{
    color: #fff;
    text-decoration: none;
}

.secciones-footer-item a:hover{
    text-decoration: underline;
}

#icon-arrow{
    margin-top: 5px;
    display: none;
    font-size: x-large;
}

.darVuelta{
    transform: rotate(180deg);
}

.visible-box { 
    max-height: fit-content; 
    opacity: 1;
    transition: max-height 1s ease, opacity 1s ease;
}

@media (width <= 565px) {
    .hidden-linea{
        max-height: 0;
        opacity: 0;
        z-index: -1000;
    }    
    #icon-arrow{
        display: block;
    }    

    nav{
        overflow: hidden;
        max-height: 0;
        opacity: 0;        
        transition: max-height 1s ease, opacity .8s ease;
        interpolate-size: allow-keywords;   /* Esto permite que se pueda hacer la transition de un height fijo a un auto/max-content/fit-content,etc.  */
    }

    nav ul{
        width: 60%;
        flex-direction: column;
    }

    nav li{
        width: auto;
    }

}

@media (width <= 450px) {
    .secciones-footer{
        flex-direction: column;
        align-items: center;
    }

    .secciones-footer-item{
        width: 100%;
    }
}


/* ### Especialidad ### */

.icon-especialidad{
    font-size: x-large;
}

.intro{
    font-size: clamp(.9rem,3dvw,1.2rem);
    text-align: center;
}

.title-especialidad{
    text-align: center;
}

.especialidad{
    background: var(--color-primario);
    color: #fff;
    padding: 10px !important;
    font-size: clamp(.77rem, 3dvw, .8rem);    
}

.nombreEspecialidad{
    gap: 5px;
    display: flex;
    align-items: center;
}

/* ### Fin Especialidad ### */


