<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 403</title>
</head>
<body>
    <h1>🚫 Acceso denegado</h1>
    {% if mensaje %}
        <p>{{mensaje}}</p>
    {% else %}
        <p>No tenés permiso para acceder a esta página o realizar esta acción.</p>
    {% endif %}

    <button onclick="window.history.back()">Volver a atrás</button>
    {% if user.usuario %}
        <a href="{% url 'indexPersonal' %}">Volver al inicio</a>
    {% elif user.paciente %}
        <a href="{% url 'indexPaciente' %}">Volver al inicio</a>
    {% endif %}
    
</body>
</html>