{% extends 'layout/base-personal.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'estilos/styles_enfermero.css' %}">
{% endblock %}

{% block titulo %}
    <title>Notas de enfermería</title>
{% endblock %}

{% block contenido %}
    <div class="container-global-enfermero">
        <h1>Notas de enfermería</h1>
        <div class="box-btn-add">
            <button class="btn-masDetalles" id="btnformFilter"><i class="hgi hgi-stroke hgi-search-02"></i> Busqueda avanzada</button>
            {% if not alta %}
                <button class="btn-masDetalles" id="btnNewNota"><i class="hgi hgi-stroke hgi-plus-sign"></i> Nueva Nota</button>
            {% endif %}
        </div>
        <div class="box-tablas-enfermero" id="box-tabla-general">
            {% include 'enfermero/tablasDinamicas/_tabla_notas_enfermeros.html' %}
        </div>
    </div>

    <div id="editModal" class="modal {% if errorModal %} show errorModal{% endif %}">
        <div class="modal-content modal-nota-enfermero">
            <span id="closeEditModal" class="close">&times;</span>
            <h2 id="modal-title">Buscar por</h2>
            <div class="seccionesDelForm" id="seccion-form-filter">
                <form id="filtro-form" method="get">
                    <div class="campo-input">
                        {{filtro.form.asignacion_enfermero__enfermero__numero_matricula.label_tag}}
                        {{filtro.form.asignacion_enfermero__enfermero__numero_matricula}}
                    </div>
                    <div class="campo-input">
                        {{filtro.form.asignacion_enfermero__enfermero__persona__first_name.label_tag}}
                        {{filtro.form.asignacion_enfermero__enfermero__persona__first_name}}
                    </div>
                    <div class="campo-input">
                        {{filtro.form.asignacion_enfermero__enfermero__persona__last_name.label_tag}}
                        {{filtro.form.asignacion_enfermero__enfermero__persona__last_name}}
                    </div>
                    <div class="campo-input">
                        {{filtro.form.asignacion_enfermero__jornada__turno.label_tag}}
                        {{filtro.form.asignacion_enfermero__jornada__turno}}
                    </div>
                    <div class="campo-input">
                        {{filtro.form.fecha_y_horario.label_tag}}
                        {{filtro.form.fecha_y_horario}}
                    </div>
                </form>
            </div>
            <div class="seccionesDelForm" id="seccion-new-nota">
                <form id="form-new-nota" method="POST">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <ul class="error-message-main">
                            {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}                     
                    {{form.asignacion_enfermero}}
                    <div class="campo-input">
                        {{form.observaciones.label_tag}}
                        {{form.observaciones}}
                        {% if form.observaciones.errors %}
                            <div class="error-message">
                                {% for error in form.observaciones.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}                         
                    </div>
                    <div class="campo-input">
                        {{form.signos_vitales.label_tag}}
                        {{form.signos_vitales}}
                        {% if form.signos_vitales.errors %}
                            <div class="error-message">
                                {% for error in form.signos_vitales.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}                          
                    </div>
                    <div class="campo-input">
                        {{form.procedimientos_realizados.label_tag}}
                        {{form.procedimientos_realizados}}
                        {% if form.procedimientos_realizados.errors %}
                            <div class="error-message">
                                {% for error in form.procedimientos_realizados.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}                          
                    </div>
                    <div class="campo-input">
                        {{form.medicacion_administrada.label_tag}}
                        {{form.medicacion_administrada}}
                        {% if form.medicacion_administrada.errors %}
                            <div class="error-message">
                                {% for error in form.medicacion_administrada.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}                          
                    </div>
                    <button type="submit" class="btn-guardar">Confirmar</button>
                </form>
            </div>
            <div class="seccionesDelForm" id="seccion-detalles-nota">                    
                <div class="campo-input">
                    {{form.observaciones.label_tag}}
                    <textarea readonly cols="0" rows="0" placeholder="Describa el estado general del paciente, cambios observados, conducta, respuesta al tratamiento, etc." id="id_observaciones-detalles"></textarea>                       
                </div>
                <div class="campo-input">
                    {{form.signos_vitales.label_tag}}
                    <textarea readonly cols="0" rows="0" placeholder="Registrar TA, FC, FR, SatO2, T°, Glasgow u otros parámetros relevantes." id="id_signos_vitales-detalles"></textarea>                         
                </div>
                <div class="campo-input">
                    {{form.procedimientos_realizados.label_tag}}
                    <textarea readonly cols="0" rows="0" placeholder="Detalle procedimientos realizados (curaciones, movilización, higiene, instalación de vías, etc.)." id="id_procedimientos_realizados-detalles"></textarea>
                </div>
                <div class="campo-input">
                    {{form.medicacion_administrada.label_tag}}
                    <textarea readonly cols="0" rows="0" placeholder="Indique medicación administrada: nombre, dosis, vía, horario y respuesta del paciente." id="id_medicacion_administrada-detalles"></textarea>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block scripts_js %} 
    <script src="{% static 'js/enfermeros.js' %}" ></script>
{% endblock %}


