:root{
    --color-primario: #025;
    --color-secundario: #013;
    --color-hover: #34A;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #E5E6E8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23E5E6E8' cx='50' cy='0' r='50'/%3E%3Cg fill='%23e1e2e4' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23dedfe0' cx='50' cy='100' r='50'/%3E%3Cg fill='%23dadbdd' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d6d7d9' cx='50' cy='200' r='50'/%3E%3Cg fill='%23d3d4d5' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23cfd0d2' cx='50' cy='300' r='50'/%3E%3Cg fill='%23cbccce' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c8c9ca' cx='50' cy='400' r='50'/%3E%3Cg fill='%23c4c5c7' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c0c1c3' cx='50' cy='500' r='50'/%3E%3Cg fill='%23bdbebf' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b9babc' cx='50' cy='600' r='50'/%3E%3Cg fill='%23b6b7b8' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b2b3b4' cx='50' cy='700' r='50'/%3E%3Cg fill='%23afb0b1' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23abacad' cx='50' cy='800' r='50'/%3E%3Cg fill='%23a7a8aa' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a4a5a6' cx='50' cy='900' r='50'/%3E%3Cg fill='%23a0a1a3' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%239D9E9F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}

.hgi-stroke {
    position: static;
}

.title-bienvenida{
    padding: 10px;
    background-color: #fff;
    outline: 2px solid #ccc;
    border-radius: 10px;
    text-align: center;
    font-size: clamp(1.5rem, 3dvw, 2rem);    
}

.box-tarjetas-index {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px; 
    justify-content: center; 
    padding: 20px 0;
}

.tarjeta {
    background-color: #f8f8f8; 
    border-radius: 8px;
    padding: 20px 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjeta h3 {
    margin: 0;
    font-size: 16px;
}

.tarjeta p {
    font-size: 22px;
    font-weight: bold;
    color: var(--color-primario);
}

/* Algunas clases globales */
.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.back-link {
    display: inline-block;
    margin-bottom: 10px;
    color: #007bff;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}

.btn-global {
    all: unset; /* Resetea TODOS los estilos por defecto del navegador */
    display: inline-block;
    background-color: var(--color-primario);
    color: white;
    padding: 10px;
    min-height: 30px;
    font-size: clamp(.9rem, 3dvw, 1rem);
    font-family: inherit;
    font-weight: 500; /* o normal, según tu diseño */
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    vertical-align: middle;
    box-sizing: border-box;
    align-content: center;
    margin-bottom: 2px;
    transition: background-color .5s ease;
}

.btn-global:hover {
    background-color: var(--color-hover);
}


/* Fin de clases globales */

.sidebar{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 15rem;
    height: 100%;
    padding: 1.4rem 1rem 0 1rem;
    background-color: #fff;
    box-shadow: 1px 0px 10px #000;
    transition: width .5s ease;
}

.sidebar.minimizado{
    width: 4.96rem;
}

.header{
    width: 100%;
}

.menu-btn{
    position: absolute;
    top: 0.5%;
    right: -0.87rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: right .3s ease;
}

.menu-btn i{
    font-size: 1.5rem;
}

.sidebar.minimizado .menu-btn{
    right: -2.2rem;
}

.sidebar.minimizado .menu-btn i{
    transform: rotate(180deg);
}

.logo{
    width: 100%;
    display: flex;
    align-items: center;
    gap: .7rem;
    margin-bottom: 1.8rem;
    overflow: hidden;
}

.logo img{
    width: 3rem;
}

.logo span{
    font-size: 1rem;
    font-weight: 600;
    color: #000;
}

.menu-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.menu .menu-item{
    position: relative;
    list-style: none;
    overflow: hidden;
    cursor: pointer;
}

.menu .menu-link{
    display: flex;
    padding: .55rem 0;
    color: #003;
    text-decoration: none;
    border-radius: .3rem;
    transition: background-color .5s ease;
}

.menu-item:hover .menu-link, .sub-menu .sub-menu-link:hover, .menu-item.active .menu-link{
    color: white;
    background-color: var(--color-primario);
}

.menu-link i{
    font-size: 1.35rem;
    padding: 0 .8rem;

}

.menu-link i:last-child{
    margin-left:  auto;
    transition:  transform 0.3s ease;
}

.menu-item.sub-menu-toggle .menu-link i:last-child{
    transform:  rotate(180deg);
}

.menu-link span{
    font-size: 1rem;
    font-weight: 500;
}

.sidebar.minimizado .menu-link span{
    position: absolute;
    right: -329px;
}

.sidebar.minimizado .menu-item:hover{
    overflow: visible;
}

.sidebar.minimizado .menu-item:hover .span-main{
    position: absolute;
    left: 4.2rem;
    padding: .5rem;
    background-color: var(--color-primario);
    border-radius: .4rem;
    color: #fff;
    transition: all .3s ease;
    width: max-content;
}

.sub-menu{
    height: 0;
    transition: all .3s ease;
}

.sidebar.minimizado .sub-menu, .sidebar.minimizado .arrowDesplegable {
    display: none;
}

.sub-menu .sub-menu-link{
    display: flex;
    margin-left: 2.5rem;
    padding: .55rem .5rem;
    font-size: .9rem;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    border-radius: .3rem;
    column-gap: 3px;
    transition: background-color .3s ease, color .3s ease;
}


.sub-menu::before{
    content: "";
    position: absolute;
    height: 100%;
    width: .07rem;
    margin-left: 2rem;
    background-color: black;
}

.menu-footer{
    width: 100%;
    padding: 1rem 0;
    box-shadow: 0 -.2rem 0 0 black;
}

.sidebar-btn{
    display: none;
}

.especialidadActual{
    cursor: default;
    text-align: center;
}

.especialidadActual h3{
    font-size: xx-large;
    font-weight: 600;
    color: #222;
    line-height: 1.3;    
}
.especialidadActual h4{
    font-size: large;
    margin-top: 4px;
    font-weight: 400;
    color: #777;    
}

.sidebar.minimizado .especialidadActual{
    display: none;
}

main{
    height: 100dvh;
    padding: 2rem 3rem 3rem 17rem;
    transition: padding .5s ease;
}

.sidebar.minimizado + main{
    padding-left: 7.96rem;
}

@media (height <= 683px){
    .menu-container{
        overflow-y: auto;
        padding-bottom: 10px;
    }

    main{
        padding: 3rem 1rem;
    }
}

@media (width < 700px) or (height <= 683px){
    .container-global-superadmin h1{  /* Para el superadmin */
        text-align: center;
        font-size: clamp(1.5rem,3vw,2rem);
    }

    #title-centrado{ /* Para el superadmin */
        text-align: center;
        font-size: clamp(1.5rem,3vw,2rem);
    }

    #menu-btn{
        display: none;
    }

    .sidebar{
        transform: translateX(-100%);
        transition:  transform 0.3s ease;
    }

    .sidebar-btn{
        display: flex;
        right: 1rem;
        padding: 1.2rem;
    }

    .sidebar-btn i:last-child{
        display: none;
    }

    body.sidebar-hidden .sidebar{
        transform: translate(0);
    }
    body.sidebar-hidden .sidebar-btn i:last-child{
        display: flex;
        position: fixed;
    }
    body.sidebar-hidden .sidebar-btn i:first-child{
        display: none;
    }

    main{
        padding: 3rem 1rem;
    }
}


.main-noAcceso{
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;    
}

.box-noAcceso{
    background-color: #fff;
    border-radius: 10px;
    width: clamp(300px, 90%, 450px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px 0;
    height: 300px;
    gap: 10px;
}


.box-noAcceso h1{
    text-align: center;
}

.box-noAcceso p{
    font-style: italic;
    text-align: center;
    text-wrap: pretty;
}

.icon-noAcceso{
    font-size: 5rem;
}

.btns-box-no-acceso{
    display: flex;
    align-items: center;
    gap: 5px;
}