{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.hugeicons.com/font/icons.css" />
    <link rel="stylesheet" href="{% static 'estilos/autenticacion.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> {# jQuery (requerido por Toastr.js y DAL) #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />  {# Toastr CSS: Estilos para mostrar notificaciones tipo toast  #}      
    <title>Reactivación de Cuenta</title>
</head>
<body>
    <main>
        <div class="box-autenticacion">
            <h2>Reactivación de Cuenta</h2>
            <form method="POST">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="error-message-main">
                        {{ form.non_field_errors.0 }}
                    </div>
                {% endif %}                
                <div class="box-campos-autenticacion">
                    {{ form.dni.label_tag }}
                    {{ form.dni }}
                    {% if form.dni.errors %}
                        <div class="error-message">
                            {% for error in form.dni.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}                 
                </div>
                <div class="box-campos-autenticacion">
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                    {% if form.first_name.errors %}
                        <div class="error-message">
                            {% for error in form.first_name.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}                 
                </div>
                <div class="box-campos-autenticacion">
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                    {% if form.last_name.errors %}
                        <div class="error-message">
                            {% for error in form.last_name.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}                 
                </div>
                <div class="box-campos-autenticacion">
                    {{ form.fecha_nacimiento.label_tag }}
                    {{ form.fecha_nacimiento }}
                    {% if form.fecha_nacimiento.errors %}
                        <div class="error-message">
                            {% for error in form.fecha_nacimiento.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}                 
                </div>
                <div class="box-campos-autenticacion">
                    {{ form.login_id.label_tag }}
                    {{ form.login_id }}
                    {% if form.login_id.errors %}
                        <div class="error-message">
                            {% for error in form.login_id.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}                 
                </div>
                <div class="box-campos-autenticacion">
                    {{ form.telefono.label_tag }}
                    {{ form.telefono }}
                    {% if form.telefono.errors %}
                        <div class="error-message">
                            {% for error in form.telefono.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}                 
                </div>
                <div class="box-campos-autenticacion">
                    {{ form.numero_paciente.label_tag }}
                    {{ form.numero_paciente }}
                    {% if form.numero_paciente.errors %}
                        <div class="error-message">
                            {% for error in form.numero_paciente.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}                 
                </div>
                <div class="box-campos-autenticacion">
                    {{ form.observaciones.label_tag }}
                    {{ form.observaciones }}
                    {% if form.observaciones.errors %}
                        <div class="error-message">
                            {% for error in form.observaciones.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}                 
                </div>

                <button class="btn-global" type="submit" >Enviar solicitud</button>
                <p class="login-opcion">¿Ya tienes una cuenta? <a class="link-perso" href="{% url 'login' %}">Inicia sesión aquí</a>.</p>
                <p class="login-opcion">
                    ¿No posee una cuenta? <a class="link-perso" href="{% url 'signup' %}">Registrarse como paciente</a>
                </p>             
            </form>
        </div>
    </main>
    <script src="{% static 'js/autenticacion.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>  {# Toastr JS: Biblioteca para mostrar notificaciones tipo toast #}

    {% if messages %}
        <script>
            {% for message in messages %}
                toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "timeOut": "10000"
                };
                toastr["{{ message.tags|default:'info' }}"]("{{ message|escapejs }}");
            {% endfor %}
        </script>
    {% endif %}     
</body>
</html>