{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.hugeicons.com/font/icons.css" />
    <link rel="stylesheet" href="{% static 'estilos/autenticacion.css' %}">
    <title>Iniciar sesion</title>
</head>
<body>
    <main>
        <div class="box-autenticacion">
            <h2>Iniciar sesion</h2>
            <form method="POST">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="error-message-main">
                        {{ form.non_field_errors.0 }}
                    </div>
                {% endif %}
            
                <div class="box-campos-autenticacion">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {% if form.username.errors %}
                        <div class="error-message">
                            {% for error in form.username.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %} 
                </div>
            
                <div class="box-campos-autenticacion">
                    {{ form.password.label_tag }}
                    <div class="campo-con-toggle">
                        {{ form.password }}
                        <button type="button" class="toggle-password" data-target="{{ form.password.id_for_label }}"><i class="hgi hgi-stroke hgi-eye"></i></button>
                    </div>
                    {% if form.password.errors %}
                        <div class="error-message">
                            {% for error in form.password.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %} 
                </div>
            
                <button type="submit" class="btn-global">Ingresar</button>
            </form>
            <p id="p-login">Registrate como paciente <a class="link-perso" href="{% url 'signup' %}">¡Aqui!</a></p>
        </div>
    </main>

    <script src="{% static 'js/autenticacion.js' %}"></script>
</body>
</html>