{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} {% endblock %}
    <link rel="stylesheet" href="https://use.hugeicons.com/font/icons.css" />
    <link rel="stylesheet" href="{% static 'estilos/index.css' %}">
</head>
<body>
    <header>
        <h1>Hospital</h1>
        <i onclick="desplegarMenu()" id="icon-arrow" class="hgi hgi-stroke hgi-circle-arrow-down-01"></i>
        <nav id="menu" class="hidden-linea">
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'especialidadesDelHospital' %}">Especialidades</a></li>
                <li><a href="{% url 'serviciosDelHospital' %}">Servicios de Diagnostico</a></li>
                <li><a href="{% url 'login' %}">Iniciar Sesion</a></li>
                <li><a href="{% url 'signup' %}">Registrarse</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content_main %}

        {% endblock %}
    </main> 
    
    <footer id="contacto">
        <div class="secciones-footer">
            <div class="secciones-footer-item">
                <h3>Contacto</h3>
                <p>Teléfono: 0000-0000</p>
                <p>Email: contacto@gmail.com</p>
            </div>

            <div class="secciones-footer-item">
                <h3>Opciones de pago</h3>
                <p>Aceptamos seguros médicos y pagos particulares.</p>
            </div>

            <div class="secciones-footer-item">
                <h3>Aviso legal y política de privacidad</h3>
                <a href="#">Aviso legal</a> 
                <a href="#">Política de privacidad</a>
            </div>
        </div>

        <div class="secciones-footer">
            <div class="secciones-footer-item">
                <p>&copy; {{anio}} Hospital</p>
            </div>            
        </div>

    </footer>

    <script src="{% static 'js/autenticacion.js' %}"></script>
</body>
</html>
