{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.hugeicons.com/font/icons.css" />
    <link rel="stylesheet" href="{% static 'estilos/autenticacion.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> {# jQuery (requerido por Toastr.js y DAL) #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />  {# Toastr CSS: Estilos para mostrar notificaciones tipo toast  #}     
    <title>Iniciar sesión</title>
</head>
<body>
    <main>
        <div class="box-autenticacion">
            <h2>Iniciar sesión</h2>
            <form method="POST">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="error-message-main">
                        {{ form.non_field_errors.0 }}
                    </div>
                {% endif %}
            
                <div class="box-campos-autenticacion">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {% if form.username.errors %}
                        <div class="error-message">
                            {% for error in form.username.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %} 
                </div>
            
                <div class="box-campos-autenticacion">
                    {{ form.password.label_tag }}
                    <div class="campo-con-toggle">
                        {{ form.password }}
                        <button type="button" class="toggle-password" data-target="{{ form.password.id_for_label }}"><i class="hgi hgi-stroke hgi-eye"></i></button>
                    </div>
                    {% if form.password.errors %}
                        <div class="error-message">
                            {% for error in form.password.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %} 
                </div>
            
                <button type="submit" class="btn-global">Ingresar</button>
            </form>
            <p class="login-opcion">
                ¿No posee una cuenta? <a class="link-perso" href="{% url 'signup' %}">Registrarse como paciente</a>
            </p>
            <p class="login-opcion">
                ¿Tiene una cuenta inactiva? <a class="link-perso" href="{% url 'reactivarCuenta' %}">Solicitar reactivación</a>
            </p>
            <p class="login-opcion">
                <a class="link-perso" href="{% url 'seguimientoSolicitud' %}">
                    Consultar estado de solicitud de reactivación
                </a>
            </p>
            
        </div>
    </main>

    <script src="{% static 'js/autenticacion.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>  {# Toastr JS: Biblioteca para mostrar notificaciones tipo toast #}

    {% if messages %}
        <script>
            {% for message in messages %}
                toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "timeOut": "10000"
                };
                toastr["{{ message.tags|default:'info' }}"]("{{ message|escapejs }}");
            {% endfor %}
        </script>
    {% endif %}      
</body>
</html>